body {
    font-family: "Exo 2";
    color: black;
    background: url("images/grothamagoog.jpg")
}
p {
    color: black;
}
h1 {
    color: black;
    text-align: center;
    text-decoration: underline;
}

a {
    text-align: center;
}
iframe {
    display: block;
}
.banner {
    background-color: forestgreen;
    border-width: 2px;
    border-style: dotted;
    border-color: black;
    width: 80%;
    padding: 16px;
    margin-left: 64px;
}
.banner2 {
    background-color: rgb(57, 201, 57);
    border-width: 2px;
    border-style: dotted;
    border-color: black;
    width: 80%;
    padding: 16px;
    margin-left: 64px;
    font-size: x-large 
}
.form {
    border-width: 2px;
    border-style: dotted;
    border-color: black;
}
.centered {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
  color: #000000;
  font-weight: bold;
}
