body {
    font-family: "Exo 2";
    color: #ffffff;
    background-color: darkgreen
}
p {
    color: #ffffff
}
h1 {
    color: #ffffff;
    text-align:center;
    text-decoration:underline
}

a {
    text-align: center
}
iframe{
    display: block
}
